body {
  margin: 0;
  font-size: 28px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 16px;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #f32900;
}

.button:hover {
  transition: background-color 0.2s ease-in-out;
}

.button-orange {
  background-color: #e60000;
  color: white;
}

.button-orange:hover {
  background-color: white;
  color: #e60000;
}

.button-white {
  background-color: white;
  color: black;
}

.button-white:hover {
  color: white;
  background-color: #212529;
}

.chevron {
  font-weight: bold;
  padding: 10px;
  margin: 0px 0px;
}

.footnote {
  font-size: smaller;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh;
  margin: auto 2vw;
}

html {
  scroll-behavior: smooth;
}

hr {
  width: 100px;
  display: block;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: white;
}

.image-container {
  width: 100%;
  height: 50%;
}

.list-item {
  width: 110px;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row-reverse;
}

.nav-list a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.nav-list a:hover {
  background-color: white;
  color: black;
}

.nav-colored {
  background-color: white;
  color: black;
  transition: 500ms;
}

.nav-colored a {
  color: black;
}

p {
  font-family: serif;
}

.page-section {
  padding: 0% 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-image {
  max-height: 40vh;
}

.project-link {
  text-decoration: none;
}

.resume {
  max-height: 70vh;
  max-width: 90vw;
  padding-bottom: 10px;
}

.section-dark {
  color: white;
  background-color: #212529;
}

.section-orange {
  color: white;
  background-color: #e60000;
}

@media screen and (max-width: 768px) {
  .body {
    padding-top: 10%;
  }

  .nav-list {
    justify-content: center;
  }

  h3 {
    font-size: large;
  }

  p {
    font-size: 20px;
  }

  .project-image {
    max-width: 70vw;
  }
}

@media screen and (max-width: 420px) {
  .nav-list a {
    padding: 10px 5px;
  }

  .page-section {
    padding: 0px 5%;
  }

  .project-image {
    max-width: 60vw;
  }
}
