html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 28px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

p {
  font-family: serif;
}

.dash {
  border: 1px solid black;
  width: 10%;
  height: 0px;
  background-color: black;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.background {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 16px;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #f77c62;
}

.button-orange {
  background-color: rgb(240, 95, 64);
  color: white;
}

.button-white {
  background-color: white;
  color: black;
}

hr {
  width: 10%;
  display: block;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  overflow: hidden;
}

ul {
  margin-top: 0px;
}

.navbar ul li {
  list-style: none;
  padding: 10px;
  float: right;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.navbar a:hover {
  color: rgb(240, 95, 64);
}

.nav-colored {
  background-color: #f7f7f7;
  color: black;
  transition: 500ms;
}

.nav-colored a {
  color: #343a40;
}

.nav-colored a:hover {
  color: rgb(240, 95, 64);
}

.page-section {
  padding-left: 20%;
  padding-right: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#heading {
  color: white;
  background-image: url("img/business_banner.jpeg");
  /* temp */
  background-color: #212529;
}

#home {
  color: white;
  background-color: rgb(240, 95, 64);
}

#work {
  background-color: #f7f7f7;
  color: black;
}

#contact {
  color: white;
  background-color: #212529;
  background-size: cover;
}

@media screen and (max-width: 600px) {
}
